
<div class="container">
<h1 align= "center">Welcome to Biddr!</h1>
<% @auctions.each do |auction| %>
  <div class="row">
  <div>
  <h5>Title:<%= link_to auction.title, auction_path(auction) %></h5>
  </div>
  </div>
  <div class="row">
    <div>
      Details:<%= auction.details %>
    </div>
  </div>
  <div class="row">
    <div>
      Reserve price: <%= number_to_currency(auction.reserve_price) %>
    </div>
  </div>
  <div class="row">
    <div>
      End date: <%= auction.end_date %>
    </div>
  </div>
  <hr>
<% end %>
